/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

body {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://user-images.githubusercontent.com/55853256/91184100-daa3f700-e6b1-11ea-96b2-62bb82ed786e.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* Header */

header {
    width: 100%;
    position: fixed;
    z-index: 300;
    top: 0;
}

header nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.95);
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);
}

nav .logo {
    height: 100%;
    margin-left: 48px;
}

nav .logo img {
    object-fit: cover;
    height: inherit;
    padding: 8px 0px 8px 0px;
}

.home img {
    max-width: 100%;
    min-width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.home .btn {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: yellow;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    border-bottom: none;
}
.home .btn:hover {
    background-color: white;
    color: rgba(7, 40, 61);
}

.centered {
    position: absolute;
    top: 47%;
    left: 50%;
    margin-top: -70px;
    margin-left: -353px;
    font-family: 'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    text-rendering: optimizeLegibility;
    font-size: 24px;
    color: whitesmoke;
    text-align: center;
    background-color: rgba(11, 11, 11, 0.7);
    padding-top: 70px;
    padding-right: 50px;
    padding-bottom: 150px;
    padding-left: 50px;
    box-shadow: 6px 6px 6px 1px rgba(0, 0, 0, 0.7);
}


/* Top menu */

.icon {
    display: none;
}

.topnav {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 80px;
    font-family: 'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    text-rendering: optimizeLegibility;
    font-size: 18px;
}

.topnav a {
    color:yellow;
    transition: 0.7s ease-out;
    text-decoration: none;
    margin:10px;
}

.topnav a:hover {
    border-bottom: 1px solid yellow;
}

.topnav a.active {
    color: yellow;
    border-bottom: 1px solid yellow;
}


/* Responsive menu */

@media screen and (max-width: 750px) {
    nav .logo {
        margin-left: 24px;
    }

    nav .logo img {
        padding: 12px 0px 12px 0px;
    }

    .icon {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 43px;
        color: #c4d54a;
        
        cursor: pointer;
    }

    .topnav {
        position: fixed;
        width: 40%;
        height: 60vh;
        margin-left: 450px;
        margin-top: 80px;
        flex-direction: column;
        font-size: 16px;
        transition: all 1s ease;
        z-index: 90;
        background: #2b5876;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #052535, #2d697d);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #052535, #2d697d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    }

    .open-menu {

        clip-path: circle(0% at 100% 0%);
    }

    .close-menu {

        clip-path: circle(150% at 100% 0%);
    }

    .home img {
        max-width: 320%;
    }
}


@media screen and (max-width:360px) {
    nav .logo {
        margin-left: 16px;
    }

    nav img {
        padding: 16px 0px 16px 0px;
    }

    .topnav {
        width: 100%;
        height: 43vh;
        right: -81px;
        flex-direction: column;
        font-size: 16px;
        transition: all 1s ease;
        z-index: 90;
        background: #2b5876;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #052535, #2d697d);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #052535, #2d697d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
        padding: 20px;
    }

    .centered {
        font-size: 20px;
        margin-left: -190px;
        margin-top: -100px;
    
    }

    .icon {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
        color: #c4d54a;
        
        cursor: pointer;
    }


}

/* -----Subheader----- */

/* Searching bar*/

form {
    margin-top: 128px;
    margin-left: 105px;
}

.searchWrapper {
    width: 30%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
}

.searchBar {
    width: 90%;
    color: white;
    background: none;
    border: none;
    outline: none;
    line-height: 60px;
    font-family: 'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    text-rendering: optimizeLegibility;
    font-size: 16px;
}

::placeholder {
    color: rgb(231, 222, 222);
    font-size: 16px;
}

.search-btn {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* Filters and Order */

.more-menu {
    width: 40%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin-top: -51px;
    margin-left: auto;
    margin-right: 100px;
}

/* inicio */
.dropdown {
    float: left;
    overflow: hidden;
  }

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  /* padding: 14px 16px; */
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-family: 'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  text-rendering: optimizeLegibility;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  text-rendering: optimizeLegibility;
}

.dropdown-content a {
  float: none;
  color: #07283d;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
    background-color: rgba(53, 77, 89, 1);
    color: white
  }
  
.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .dropbtn {
background-color: rgba(53, 77, 89, 0.7);
color: white;
}

#scrollSpecies {
  height: 180px;
  overflow-y: auto;
}


  /*fin */


/* .dropdown {
    font-family: 'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    text-rendering: optimizeLegibility;
    position: relative;
    
} */
    
.dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 12px;
    background-color: inherit;
    font-family: 'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    text-rendering: optimizeLegibility;
    margin: 0;
}
  


/* Subheader responsive */

@media screen and (max-width: 750px) {
    form {
        margin-top: 104px;
        margin-left: 200px;
    }

    .searchWrapper {
        width: 50%;
    }

    .searchBar {
        font-size: 14px;
        letter-spacing: 0.02em;
    }
    
    ::placeholder {
        color: rgb(206, 191, 191);
        font-size: 14px;
        letter-spacing: 0.02em;
    }
    
    .search-btn {
        text-decoration: none;
        color: white;
        font-size: 15px;

    }

    .more-menu {
        margin-top: 12px;
        margin-left: 110px;
        width: 70%;
        height: 53px;
    }

}

@media screen and (max-width:360px) {
    form {
        margin-top: 100px;
        margin-left: 30px;
    }

    .searchWrapper {
        width: 84%;
    }

    .searchBar {
        font-size: 16px;
    }
    
    .more-menu {
        margin-top: 11px;
        margin-left: 23px;
        width: min-content;
        height: 53px;
    }

    .dropdown {
        font-size: 14px;
    }

    .dropdown .dropbtn {
        font-size: 14px;
    }

    .dropbtn {
        padding-top: 16px;
        padding-bottom: 0px;
        padding-right: 16px;
        padding-left: 16px;
    }

    .dropdown-content a {
        text-align: left;
        float: none;
        padding: 10px 12px;
        text-decoration: none;
        display: flex;
        flex-direction: column
    }

    .dropdown-content {
        min-width: 100px;
        font-size: 13px;
        height: 120px;
        overflow-y: auto;
    }

}


/* -----Characters List----- */

.listCharacters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin:16px;
}

.listCharacters .character {
    width: 250px;
    min-width: 130px;
    margin: 24px;
    border-radius: 5px;
    box-shadow: 6px 6px 6px 1px rgba(0, 0, 0, 0.7);
    background-color: rgba(11, 11, 11, 0.7);
}

h3 {
    font-family: 'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    text-rendering: optimizeLegibility;
    font-size: 20px;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-right: 25px;
    margin-bottom: 30px;
    margin-left: 25px;
    text-align: center;
    color: yellow;
}

.listCharacters img{
    width: 200px;
    border-radius: 50%;
    margin-top: 30px;
    margin-right: 24px;
    margin-bottom: 30px;
    margin-left: 24px;

}


/* -----Responsive Character List----- */

@media screen and (max-width:750px) {
    .listCharacters .character {
        width: 143px;
        margin: 13px;
    }

    .listCharacters img {
        width: 100px;
        margin: 12px;
    }

    h3 {
        font-family: 'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
        text-rendering: optimizeLegibility;
        font-size: 15px;
        letter-spacing: 0.03em;
        margin-top: 0px;
        margin-right: 25px;
        margin-bottom: 30px;
        margin-left: 25px;
        text-align: center;
    }
}

@media screen and (max-width:360px) {
    .listCharacters .character {
        width: 137px;
        margin: 13px;
    }

}


/* -----PopUp----- */

.overlay {
    position: fixed;
    z-index: 400;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
}

.overlay.active {
    display: flex;
    flex-direction: column;
}

.overlay img {
    max-width: 100%;
    border-radius: 8px 8px 0px 0px;
}

.overlay .description {
    display: block;
    background-color: whitesmoke;
    text-align: center;
    color: #052535;
    font-family: 'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    text-rendering: optimizeLegibility;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.03em;
    border-radius: 0px 0px 8px 8px;
    width: 300px;
    height: 240px;
}

.character-name {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
}
.character-description {
    margin: 20px;
}

.overlay #btn-close {
    background: none;
    font-size: 24px;
    border: none;
    cursor: pointer;
    position: relative;
    top: 6px;
    left: 160px;
    color: rgba(255, 255, 255, 0.6);
}


/* -----Pagination----- */

.buttonsContainer {
    display: flex;
    justify-content: center;
	align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background: rgba(11, 11, 11, 0.7);
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}

.buttonsContainer button {
	width: 40px;
	height: 40px;
	appearance: none;
	border: none;
	outline: none;
    cursor: pointer;
    background-color: transparent;
    background-color:  rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    margin: 5px;
    transition: 0.4s;
    color: white;
    font-family: 'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    text-rendering: optimizeLegibility;
    font-size: 18px;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.buttonsContainer button:hover {
    background-color: rgba(0, 0, 0, 0.95);
    color:yellow;
}

.buttonsContainer button.active {
    background-color: rgba(0, 0, 0, 0.95);
    color:yellow;
}


/* -----Episodes List----- */

#episodesSection, #locationsSection{
    margin-top: 100px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
 
.episodesList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.episodesList .episode {
    width: 370px;
    height: 200px;
    max-height: 240px;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(11, 11, 11, 0.7);
    flex-wrap: wrap;
}

p {
    font-family: 'Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: rgb(196, 196, 193);
    font-size: 17px;
    letter-spacing: 0.02em;
    text-rendering: optimizeLegibility;
}

h4 {
    font-family: 'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    margin: 10px;
    font-size: 21px;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.02em;
}

.pageEpisodes {
    display: flex;
    justify-content: center;
	align-items: center;
    padding: 20px;
    background: rgba(11, 11, 11, 0.7);
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}
.showCharacters {
    width: 150px;
    height: 30px;
    margin: 10px;
    font-family: 'Balsamiq Sans';
    font-size: 14px;
}

#previous, #next, #previousL, #nextL {
    width: 150px;
    height: 30px;
    margin: 10px;
    font-family: 'Balsamiq Sans';
    font-size: 16px;
}


/* -----Locations List----- */
.locationsList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}
.locationsList .location {
    width: 370px;
    height: 190px;
    min-height: 200px;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(11, 11, 11, 0.7);
    flex-wrap: wrap;
}

.pageLocation {
    display: flex;
    justify-content: center;
	align-items: center;
    padding: 20px;
    background: rgba(11, 11, 11, 0.7);
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}

/* -----Navigate in menu----- */

.hide {
    display: none;
}