/* UNIVERSAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */

body {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://user-images.githubusercontent.com/55853256/91184100-daa3f700-e6b1-11ea-96b2-62bb82ed786e.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* HEADER */

header {
    width: 100%;
    background-image: url(images/nav1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}

header nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);
}

nav .logo {
    height: 100%;
    margin-left: 48px;
}

nav .logo img {
    object-fit: cover;
    height: inherit;
    padding: 8px 0px 8px 0px;
}

/* hidden to responsive */
.icon {
    display: none;
}

.topnav {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 16px;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 18px;
}

.topnav a {
    color:#c4d54a;
    transition: 0.7s ease-out;
    text-decoration: none;
}

.topnav a:hover {
    color: rgb(207, 240, 143);
    font-size: 20px;
}

.topnav a.active {
    color: rgb(207, 240, 143);
    border-bottom: 2px solid rgb(207, 240, 143);
}

/* responsive menu */

@media screen and (max-width: 750px) {
    nav .logo {
        margin-left: 24px;
    }

    nav .logo img {
        padding: 12px 0px 12px 0px;
    }

    .icon {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 24px;
        color: #c4d54a;
        z-index: 100;
        cursor: pointer;
    }

    .topnav {
        position: fixed;
        width: 40%;
        height: 86vh;
        margin-left: 450px;
        margin-top: 80px;
        flex-direction: column;
        font-size: 16px;
        transition: all 1s ease;
        background: #2b5876;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #052535, #2d697d);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #052535, #2d697d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    }

    .topnav a:hover {
        color: rgb(207, 240, 143);
    }

    .open-menu {

        clip-path: circle(0% at 100% 0%);
    }

    .close-menu {

        clip-path: circle(150% at 100% 0%);
    }
}

@media screen and (max-width:400px) {
    nav .logo {
        margin-left: 16px;
    }

    nav img {
        padding: 16px 0px 16px 0px;
    }
}

/* SUBHEADER */

/* search bar */

form {
    margin-top: 48px;
    margin-left: 105px;
}

.searchWrapper {
    width: 30%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 40px;
}

.searchBar {
    width: 90%;
    /* float: left; */
    color: white;
    background: none;
    border: none;
    outline: none;
    line-height: 60px;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 16px;
}

::placeholder {
    color: rgb(206, 191, 191);
    font-size: 16px;
}

.search-btn {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* filters and order */

.more-menu {
    width: 40%;
    height: 74px;
    display: flex;
    justify-content: space-between;
    margin-top: -40px;
    margin-left: 700px;
}

.dropdown {
    font-family: 'Balsamiq Sans', cursive;
}
    
.dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Balsamiq Sans', cursive;
    margin: 0;
}
  
.dropdown-content {
    width: 166px;
    height: 150px;
    display: none;
    position: absolute;
    z-index: 1;
    overflow: auto;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
  
.dropdown-content a {
    display: block;
    text-align: left;
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    color: #093756;
}
  
.dropdown-content a:hover {
    background-color: rgba(80, 107, 104, 0.3);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/* subheader responsive */

@media screen and (max-width: 750px) {
    form {
        margin-top: 24px;
        margin-left: 200px;
    }

    .searchWrapper {
        width: 50%;
        height: 35px;
    }

    .searchBar {
        font-size: 14px;
        letter-spacing: 0.05em;
    }
    
    ::placeholder {
        color: rgb(206, 191, 191);
        font-size: 14px;
        letter-spacing: 0.05em;
    }
    
    .search-btn {
        text-decoration: none;
        color: white;
        font-size: 15px;

    }

    .more-menu {
        margin-top: 24px;
        margin-left: 110px;
        width: 70%;
    }

    .dropdown {
        font-size: 14px;
    }

    .dropdown .dropbtn {
        font-size: 14px;
    }

    .dropdown .dropdown-content {
        background: none;
        width: max-content;
        height: min-content;
        overflow-x: auto;
    }

    .dropdown .dropdown-content a {
        float: left;
        color: white;
    }

    #scroll {
        width: 67%;
        height: min-content;
        display: none;
        overflow-x: auto;
    }

    #scroll::-webkit-scrollbar {
        width: 0;
    }
}

/* CHARACTERS' LIST */

.listCharacters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.listCharacters .character {
    width: 250px;
    min-width: 130px;
    margin: 24px;
    border-radius: 5px;
    background-color: rgba(11, 11, 11, 0.7);
}

h3 {
    font-family: 'Balsamiq Sans';
    font-size: 20px;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-right: 25px;
    margin-bottom: 30px;
    margin-left: 25px;
    text-align: center;
    /* color:yellow; */
    color: white;
}


.listCharacters img{
    width: 200px;
    border-radius: 50%;
    /* margin: 24px; */
    margin-top: 30px;
    margin-right: 24px;
    margin-bottom: 30px;
    margin-left: 24px;

}

/* modal */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
}

.overlay.active {
    display: flex;
    flex-direction: column;
}

.overlay img {
    max-width: 100%;
    border-radius: 8px 8px 0px 0px;
}

.overlay .description {
    display: block;
    /* background: rgba(0, 0, 0, 1); */
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
    /* color: white; */
    color: #052535;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.08em;
    /* border: 2px solid #94E858; */
    border-radius: 0px 0px 8px 8px;
    width: 300px;
    height: 200px;
}

.character-name {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.08em;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.overlay #btn-close {
    background: none;
    font-size: 24px;
    border: none;
    cursor: pointer;
    position: relative;
    top: 6px;
    left: 160px;
    color: rgba(255, 255, 255, 0.6);
}

/* PAGINATION */

.buttonsContainer {
    display: flex;
    justify-content: center;
	align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background: rgba(11, 11, 11, 0.7);
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}

.buttonsContainer button {
	width: 40px;
	height: 40px;
	appearance: none;
	border: none;
	outline: none;
    cursor: pointer;
    background-color: transparent;
    background-color:  rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    margin: 5px;
    transition: 0.4s;
    color: white;
    /* color: #c4d54a;; */
    font-family: 'Balsamiq Sans', cursive;
    font-size: 18px;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.buttonsContainer button:hover {
    background-color:#093756;
}

/*NO BORRAR POR FA, ESTÁ EN PROCESO :) */
/* .buttonsContainer button.active {
    background-color: #093756;
    color: rgba(11, 12, 12, 0.8);
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}  */



/* Episodes */

.episodesList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.episodesList .episode {
    width: 390px;
    height: 200px;
    max-height: 240px;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(11, 11, 11, 0.7);
    flex-wrap: wrap;
}

p {
    font-family: 'Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: rgb(214, 214, 206);
    font-size: 17px;
    letter-spacing: 0.02em;
    text-rendering: optimizeLegibility;
}

h4 {
    font-family: 'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    margin: 10px;
    font-size: 21px;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.02em;
}

.pageEpisodes {
    display: flex;
    justify-content: center;
	align-items: center;
    padding: 20px;
    background: rgba(11, 11, 11, 0.7);
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}
.showCharacters {
    width: 150px;
    height: 30px;
    margin: 10px;
    font-family: 'Balsamiq Sans';
    font-size: 14px;
}

#previous, #next, #previousL, #nextL {
    width: 150px;
    height: 30px;
    margin: 10px;
    font-family: 'Balsamiq Sans';
    font-size: 16px;
}


/* Locations */
.locationsList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.locationsList .location {
    width: 390px;
    height: 190px;
    max-height: 240px;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(11, 11, 11, 0.7);
    flex-wrap: wrap;
}

.pageLocation {
    display: flex;
    justify-content: center;
	align-items: center;
    padding: 20px;
    background: rgba(11, 11, 11, 0.7);
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}


.hide {
    display: none;
}
